:root {
    --first-color: #1a1f25 !important;
    --second-color: #e6b333 !important;
    --third-color: #bdc2c9 !important;
}

@font-face {
    font-family: "Montserrat" !important;
    src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations") !important;
}

.header {
    width: 100vw !important;
    height: 7vh !important;
}

.main {
    width: 100vw !important;
    min-height: 93vh !important;
    padding-top: 10vh !important;
}

.my-table th, td {
    background-color: var(--first-color) !important;
    color: var(--third-color) !important;
}

.inactive {
    background-color: var(--first-color) !important;
    color: var(--third-color) !important;
    border: 1px solid var(--third-color);
}

.active {
    background-color: var(--first-color) !important;
    color: var(--third-color) !important;
    border: 1px solid var(--second-color);
}

.first-font {
    font-family: "Montserrat", sans-serif !important;
}

.first-font * {
    font-family: inherit !important;
}

.first-background-color {
    background-color: var(--first-color) !important;
}

.second-background-color {
    background-color: var(--second-color) !important;
}

.third-background-color {
    background-color: var(--third-color) !important;
}

.first-text-color {
    color: var(--first-color) !important;
}

.second-text-color {
    color: var(--second-color) !important;
}

.third-text-color {
    color: var(--third-color) !important;
}

.first-border-color {
    border-color: var(--first-color) !important;
}

.second-border-color {
    border-color: var(--second-color) !important;
}

.third-border-color {
    border-color: var(--third-color) !important;
}