:root {
    --first-color: #1a1f25;
    --second-color: #e6b333;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
}

* {
    font-family: "Montserrat", sans-serif;
}

html {
    background-color: var(--first-color);
}

.report-title {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}