:root {
    --first-color: #1a1f25;
    --second-color: #e6b333;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf") format("truetype-variations");
}

.header {
    width: 100vw;
    height: 7vh;
}

.main {
    width: 100vw;
    min-height: 93vh;
    padding-top: 10vh;
}

.primary {
    font-family: "Montserrat", sans-serif;
    background-color: var(--second-color);
    color: var(--first-color);
}

.inverse-primary {
    font-family: "Montserrat", sans-serif;
    background-color: var(--first-color);
    color: var(--second-color);
}